name: flutter_app_template_workspace

publish_to: none

environment:
  sdk: ^3.10.4

workspace:
  - packages/convenient_widgets
  - packages/core/authenticator
  - packages/core/configurator
  - packages/core/messenger
  - packages/core/tracker
  - packages/core/utils
  - packages/flutter_app
  - packages/pub_dev_api_client
  - packages/themes
  - packages/util
  - packages/widget_catalog

dev_dependencies:
  melos: ^7.3.0

dependency_overrides:
  test_api: 0.7.8

melos:
  name: flutter_app_template
  repository: https://github.com/altive/flutter_app_template

  packages:
    - "packages/*"

  command:
    bootstrap:
      environment:
        sdk: ^3.10.4
      dev_dependencies:
        altive_lints: ^2.1.0
    version:
      branch: main
      releaseUrl: true

  scripts:
    # Issue on file exclusion feature: https://github.com/dart-lang/dart_style/issues/864
    # NOTE: Using the `exec:` format causes processing to stop
    format:ci:
      run: |
        melos exec -- \
          dart format --set-exit-if-changed $(find . -name "*.dart" -not \( -name "*.*freezed.dart" -o -name "*.*g.dart" -o -name "*.gen.dart" -o -wholename "./.dart_tool/*" \) )
      description: Run format.
      packageFilters:
        flutter: true
        dirExists: [lib, test]

    fix:
      exec: |
        dart fix --apply lib
      description: Run dart fixes.
      packageFilters:
        dirExists: lib

    gen:
      run: dart run build_runner build --delete-conflicting-outputs
      exec:
        orderDependents: true
      description: Run generate code.
      packageFilters:
        dirExists: lib
        dependsOn: "build_runner"

    gen:watch:
      run: dart run build_runner watch --delete-conflicting-outputs
      exec:
        concurrency: 99
        orderDependents: true
      description: Watch and run generate code.
      packageFilters:
        dirExists: lib
        dependsOn: "build_runner"

    gen:icons:
      exec: dart run flutter_launcher_icons
      description: Generate launcher icons.
      packageFilters:
        dirExists: lib
        dependsOn: "flutter_launcher_icons"

    slang:
      run: dart run slang
      exec:
        orderDependents: true
      description: Run generate translation code.
      packageFilters:
        dirExists: lib
        dependsOn: slang

    slang:watch:
      exec: dart run slang watch
      description: Run generate translation code.
      packageFilters:
        dirExists: lib
        dependsOn: slang

    test:
      run: flutter test
      exec:
        failFast: true
      description: Run test packages.
      packageFilters:
        dirExists: test

    test:ci:
      run: flutter test --coverage
      exec:
        failFast: true
      description: Run flutter test for CI.
      packageFilters:
        dirExists: test

    flutterfire:update:
      exec: flutterfire update
      description: Run flutterfire update.
      packageFilters:
        flutter: true
        dirExists: lib
        dependsOn: "firebase_core"
