name: Spell check

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.dart"
      - "**/*.md"
      - ".cspell.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  spell-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Run cspell
        run: npx cspell@latest lint .
